$bg: #f5f6fa;
$blue: #3978ff;
$red: #fb1f43;
$orange: #ffa200;
$violet: #db54ff;

$text-dark: #464150;
$text-light: #b1b1b2;
$text-button: #ffffffad;

$nav-height: 40px;
$border-light: #ddd;

$breakpoint-medium: 1000px;
$breakpoint-small: 400px;
