@import "./variables";

body {
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  background: $bg;
  font-family: 'Lato', sans-serif;
}

.row {
  max-width: 1150px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.vue-slider .vue-slider-dot-handle, .vue-slider:hover .vue-slider-dot-handle {
  border: 2px solid $blue;
}

.vue-slider .vue-slider-mark-step-active, .vue-slider:hover .vue-slider-mark-step-active {
  -webkit-box-shadow: 0 0 0 2px $blue;
  box-shadow: 0 0 0 2px $blue;
}

.vue-slider-process, .vue-slider:hover .vue-slider-process {
  background-color: $blue;
}

.v-select.searchable .dropdown-toggle {
  cursor: text;
  border-radius: 20px;
  border: 2px solid whitesmoke;
} 


.v-select.searchable .dropdown-menu {
  border-radius: 10px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 20px 4px rgba(255, 255, 255, .2);
  max-height: 20px;
}

.switcher[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.2em;
  width: 2em;
  height: calc(1em + 4px);
  border: 0;
  padding: 2px;
  background-color: lightgrey;
  border-radius: 90em;
  vertical-align: middle;
  transition: all 0.2s ease-out;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 2px 10px 3px transparent;
}
.switcher[type="checkbox"]::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 90em;
  transition: transform 200ms;
  vertical-align: middle;
}
.switcher[type="checkbox"]:checked {
  background-color: $blue;
  box-shadow: 0px 2px 21px 3px #2e73ff73;
}
.switcher[type="checkbox"]:checked::after {
  transform: translateX(calc(100% - 4px));
}
